<div id="left_div">
    <h3 class="centered">Candidates</h3>
    <p>Marco</p>
    <p>Adam</p>
    <p>Phil</p>
</div>
<div id="main_content">
    <div id="middle_div">
        <div class="select_candidates">
            <h1>Welcome Moderator</h1>
            <h3>Select two candidates for the dabate</h3>
            <form action="/start" method="post">
                <select name="player1">
                    <option>Marco</option>
                    <option>Phil</option>
                    <option>Adam</option>
                </select>
                <select name="player2">
                    <option>Marco</option>
                    <option>Phil</option>
                    <option>Adam</option>
                </select>
                <p><input type="submit" value="Start Debate"></p>
            </form>
        </div>
    </div>
</div>
